/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Victoria vCard - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */

body {
  	background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 150px;
    
	background-image: url(../img/test2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.w {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px rgba(0,0,0,0.2);
	box-shadow: 5px 5px rgba(0,0,0,0.2);
}


.col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-8 {
	padding-left: 0px;
	padding-right: 0px;
}


.nav-tabs {
	border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border-left: 5px solid #1abc9c;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	width: 100%;
}

.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.428571429;
	border-bottom: 1px solid #dddddd;
	border-radius: 0 0 0 0;
	width: 100%;
	background-color: #f2f2f2;
}

.tab-content {
	background-color: #ffffff;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 15px;
}

.tab-content h5 {
	color: #bdc3c7;
	font-weight: 700;
	letter-spacing: 1px;
}

.red i {
	font-size: 12px;
	color: #e74c3c;
}

i {
	vertical-align: middle;
}

.sm {
	font-size: 14px;
}

a h6{
	color: #1abc9c;
}

a h6:hover {
	color: #7b7b7b;
}

grey {
	color: #bdc3c7;
	font-weight: 700;
}